<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Something random</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<p>Something random. Thi si sa para</p>
	<script type="text/javascript">
		// $('p').on('click', function(){
		// 	$('p').text('Some text and markup')
		// });
		$('p').on('click', function(){
			$.ajax({
				url: 'localhost:80/random/random.php',
				dataType: 'jsonp',
				crossDomain: true,
				contentType: "application/javascript; charset=utf-8",
			})
			.done(function(someText) {
				console.log("success", someText);
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
		});
	</script>
</body>
</html>