{% extends "index.html" %}
{% block content %}

<div class="container-fluid p-4 m-4" style="position: relative; top: 10%">
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-9">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class = 'col-10'>
                                    <!--end of col-->
                                    <div class="row">
                                        <input class="col-5 m-1 form-control form-control-lg form-control-borderless" type="search" placeholder="Location">
                                        <input class="col-3 mt-1 mb-1 ml-1 form-control form-control-lg form-control-borderless" type="text" placeholder="From" data-provide="datepicker">
                                        <i class="fa fa-calendar datepicker"></i>
                                        <input class="col-3 m-1 form-control form-control-lg form-control-borderless" type="search" placeholder="To">
                                    </div>
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
<div class = 'container'>
    <div class = 'row justify-content-center'>
        <button class="w3-button w3-display-left" onclick="">&#10094;</button>
    
        <img class="mySlides" src="{{url_for('static', filename = 'Image1.jpg')}}" style="width: 40%; height:40%;">
        <button class="w3-button w3-display-right" onclick="">&#10095;</button>
    </div>
</div>
{% endblock content %}
{% block jscripts %}
<script>
$( function() {
    $( ".datepicker" ).datepicker();
});
</script>
{% endblock jscripts %}