{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href = "{{url_for('static', filename = 'css/stylelist.css')}}">
{% endblock head %}

{% block content %}

<div class="container-fluid">
<div class='row'>
    <div class="col-3 bg-dark sticky-top" style = "top: 5%">
        <p class="h3 m-2 p-2 text-white" style="text-align: center;">Apply Filters</p>
        <ul class="list-group list-group-flush">
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#loc" aria-expanded="false" aria-controls="loc">Location</button>
            <div class="collapse" id="loc">
                <div class="card card-body">
                    <input class="m-1 form-control form-control-lg form-control-borderless" type="search" placeholder="Location">
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#price" aria-expanded="false" aria-controls="price">Price</button>
            <div class="collapse" id="price">
                <div class="card card-body">
                    <div id="slider" class="m-2"></div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pricetextf">Min</span>
                        </div>
                        <input type="text" class="form-control" id="pricemin" aria-describedby="pricetextf" value = 1000>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pricetextt">Max</span>
                        </div>
                        <input type="text" class="form-control" id="pricemax" aria-describedby="pricetextt" value= 10000>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#rating" aria-expanded="false" aria-controls="rating">Rating</button>
            <div class="collapse" id="rating">
                <div class="card card-body">
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 1></i> 1 Star </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 2></i> 2 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 3></i> 3 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 4></i> 4 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 5></i> 5 Stars </span>
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#facility" aria-expanded="false" aria-controls="facility">Facilities</button>
            <div class="collapse" id="facility">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </ul>

    </div>
<div class="col-9 flex-container">
{% for i in range(25) %}
<div class="card flex-item" style="width: 20rem; max-width: 20rem; max-height: 30rem;">
  <img class="card-img-top" src="{{url_for('static', filename = 'bridge.jpg')}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text" style="max-height: 9em;overflow: auto;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">More details</a>
    <a href="#" class="btn btn-primary">Book Now!</a>
  </div>
</div>
{% endfor %}
</div>
</div>

</div>
{% endblock content %}
{% block jscripts %}
<script type="text/javascript">
    $( function() {
        $( "#slider" ).slider({
            max : 10000,
            min : 1000,
            range : true,
            values : [1000, 10000],
            slide: function( event, ui ) {
                $('#pricemin').val($('#slider').slider('values', 0));
                $('#pricemax').val($('#slider').slider('values', 1))
            }
        });
    });
    $('#pricemin').on('input', function(){
        console.log($('#pricemin').val());
        $( "#slider" ).slider( "option", "values", [ $('#pricemin').val(), $('#pricemax').val()] );

    });
    $(function(){
        $('.starrate').on('click', function(){
            $('.text-warning').removeClass('checked')
            $('.text-warning').removeClass('text-warning')
            $(this).children().addClass('text-warning');
            $(this).children().addClass('checked');

        });
    });

</script>


{% endblock jscripts %}
