{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href = "{{url_for('static', filename = 'css/stylelist.css')}}">
{% endblock head %}

{% block content %}

<div class="container-fluid">
<div class='row'>
    <button style="position: fixed; z-index: 10;" id = "sideToggle" class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#sideCollapse" aria-controls="sideCollapse" aria-expanded="false" aria-label="Toggle navigation">
        Open
    </button>
    <div class="col-3 bg-dark sticky-top navbar-dark" id = "sideCollapse" style = "top: 5%">
        <p class="h3 m-2 p-2 text-white" style="text-align: center;">
            Apply Filters
            <button class="navbar-toggler" id = "sideClose"  type="button" data-toggle="collapse" data-target="#sideCollapse" aria-controls="sideCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
        </p>
        <ul class="list-group list-group-flush" style="overflow: hidden;">
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#loc" aria-expanded="false" aria-controls="loc">Location</button>
            <div class="collapse" id="loc">
                <div class="card card-body">
                    <input class="m-1 form-control form-control-lg form-control-borderless" id = 'loc_ajax' type="search" placeholder="{{loc}}">
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#price" aria-expanded="false" aria-controls="price">Price</button>
            <div class="collapse" id="price">
                <div class="card card-body">
                    <div id="slider" class="m-2"></div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pricetextf">Min</span>
                        </div>
                        <input type="text" class="form-control" id="pricemin" aria-describedby="pricetextf" value = 1000>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="pricetextt">Max</span>
                        </div>
                        <input type="text" class="form-control" id="pricemax" aria-describedby="pricetextt" value= 10000>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#rating" aria-expanded="false" aria-controls="rating">Rating</button>
            <div class="collapse" id="rating">
                <div class="card card-body">
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 1></i> 1 Star </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 2></i> 2 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 3></i> 3 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 4></i> 4 Stars </span>
                    <span class="starrate float-right"><i class="fa fa-star" data-rating = 5></i> 5 Stars </span>
                </div>
            </div>
            <button class="btn btn-primary list-group-item list-group-item-primary" type="button" data-toggle="collapse" data-target="#facility" aria-expanded="false" aria-controls="facility">Rooms</button>
            <div class="collapse" id="facility">
                <div class="card card-body ">
                    <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Single" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Single
                    </label>
                    </div>
                    <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Double" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Double
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Quad" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Quad
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Suite" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Suite
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Luxury" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        Luxury
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Queen" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                        Queen
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="King" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                        King
                    </label>
                </div>
                <div class = 'form-check'>
                    <input class="form-check-input ajax_thing" type="checkbox" value="Deluxe" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                        Deluxe
                    </label>
                </div>
                
                </div>
            </div>
        </ul>

    </div>
<div id = 'card-display' class="col-9 flex-container">
{% for i in hotels %}
<div class="card flex-item" style="width: 20rem; max-width: 20rem; max-height: 30rem;">
    <img class="card-img-top" src="{{url_for('static', filename = 'bridge.jpg')}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="max-height: 2.5em;overflow: auto;">{{i['hname']}}</h5>
        <p class="card-text" style="max-height: 9em;overflow: auto;">
            <b>Category</b>: {{i.subcat}}<br>
            <b>Address</b>: {{i.address}}<br>
            <b>Mobile</b>: {{i.mobile}} <br>
            <b>Email</b>: {{i.email }}<br>
        </p>
        <a href="/hotel/{{ i['id'] }}" class="btn btn-primary">More details</a>
        <a href="#" class="btn btn-primary">Book Now!</a>
    </div>
  </div>
{% endfor %}
</div>
</div>

</div>
{% endblock content %}
{% block jscripts %}
<script type="text/javascript">
    $( function() {
        $( "#slider" ).slider({
            max : 10000,
            min : 1000,
            range : true,
            values : [1000, 10000],
            slide: function( event, ui ) {
                $('#pricemin').val($('#slider').slider('values', 0));
                $('#pricemax').val($('#slider').slider('values', 1))
            }
        });
    });
    $('#pricemin').on('input', function(){
        console.log($('#pricemin').val());
        $( "#slider" ).slider( "option", "values", [ $('#pricemin').val(), $('#pricemax').val()] );

    });
    $(function(){
        $('.starrate').on('click', function(){
            $('.text-warning').removeClass('checked')
            $('.text-warning').removeClass('text-warning')
            $(this).children().addClass('text-warning');
            $(this).children().addClass('checked');
        });
    });
    $(function(){
        if( window.innerWidth <= 768 ){
            $('#sideCollapse').addClass('collapse');
            $('#sideCollapse').removeClass('col-3')
        }            
        else{
            $('#sideCollapse').removeClass('collapse');
        }
        $('#sideToggle').on('click', function(){
            $(document.body).css('opacity', "0.4")
        });
    });
$(function(){
    $('#loc_ajax').on('keyup', function(){
        loc = $('#loc_ajax')[0].value;
        a = []
        $('input:checkbox:checked').each(function(){
            a.push(this.value)
        });
        data = JSON.stringify({'location':loc, 'rooms':a})
        // console.log(data)
        $.ajax({
            method:'POST',
            url: '/search_hotels',
            data: data
        }).done(function(x){
            console.log(x);
            $('#card-display').html(x['cards']);
        });
    });
});
</script>


{% endblock jscripts %}
