{% extends 'index.html' %}

{% block content %}
<div class = 'container card'>
<form>
    <div class="form-group">
      <label for="input1">Name</label>
      <input type="text" class="form-control" id="input1" placeholder="Enter name" value="{{session['user']['fname'].capitalize()+' '+session['user']['lname'].capitalize()}}">
    </div>
    {% for i in rooms %}
    <div class="form-group">
      <label for="input{{i}}">{{rooms[i][0]}}</label>
      <input type="text" class="form-control calcu" id="input{{i}}" placeholder="Amount">
    </div>
    {% endfor %}
    <div>
      Your Total is INR <b id='famount'> 100 </b>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}

{% block jscripts %}
<script>
  rooms = {{rooms|safe}}
$(function(){
  $('.calcu').on('keyup', function(){
    // console.log('changed');
    console.log(this.value);
    let x = 0;
    $('.calcu').each(function(i, e){
      // console.log($(e)[0])
      if(parseInt($(e).val())>rooms[parseInt($(e)[0].id.split('input')[1])][2]){
        $(e)[0].value = rooms[parseInt($(e)[0].id.split('input')[1])][2];
      };
      // console.log($(e).value, $(e).val())
      if($(e).val()){
        console.log(parseInt($(e)[0].id.split('input')[1]))
        x+=parseInt($(e).val())*(rooms[parseInt($(e)[0].id.split('input')[1])][1])
      }
    });
    console.log(x)
    $('#famount')[0].outerText = x;
  });
});
</script>

{% endblock jscripts %}